<style>
    #main_header{
        width:100%;
        height:200px;
        border:1px solid black;
    }
    #main_header li{
        float:left;
        margin:2px 20px;
        height:30px;
        list-style-type:none;
    }
    #main_header .header_img{
        width:100%;
        height:150px;
        border:1px solid black;
    }
    #main_header .header_user_info{
        width:100px;
        height:100px;
    }
</style>
<div id="main_header">
    <div class="header_img"><div class="header_user_info">peter</div></div>
    <ul>
        <li>首页</li>
        <li>个人中心</li>
        <li>图书馆</li>
        <li>娱乐</li>
        <li>联系</li>
    </ul>
</div>